<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="AnnotationDBString" connectionString="server = co1mssudeldb01; database = Annotation; Integrated Security = SSPI; Application Name = Ude Rules;"/>
    <add name="WindeDBString" connectionString="server = co1mssudeldb01; database = Winde; Integrated Security = SSPI; Application Name = Ude Rules;"/>
  </connectionStrings>
</configuration>
